</body>
<footer>
  <p class="footer-text">
    Copyright 2022. Jesús Gutiérrez. Check out more
    <a class="footer-text" href="https://jesus-gutierrezmatarrita.github.io/cv/" target="_blank" rel="noopener noreferrer">here</a>
  </p>
</footer>

</html>
